<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thank you!</title>
    </head>
    <body>
    <div th:replace="fragments/header :: header"></div>

        <h1>Thank you! You have been signed up to the event!</h1>
        Your information: Name: <span th:text="${signup.name}">NamePlaveholder</span>,
        Address: <span th:text="${signup.address}">AddressPlaceholder</span>,
        Id: <span th:text="${signup.id}">id</span>,
        Event password: <span th:text="${signup.password}">passwd</span>
        <!--/*@thymesVar id="redirect" type="java.lang.String"*/-->
    <p>Your personalized event details will be <a th:href="@{/event/{id}/{password}(id=${signup.id},password=${signup.password})}">here</a></p>
        <p th:if="${redirect}"><a th:href="${redirect}">Continue to where you were before</a></p>
    </body>
</html>
