 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Event info!</title>
    </head>
    <body>
    <script th:src="@{/static/md5.js}"></script>
    <div th:replace="fragments/header :: header"></div>

    <div id="details">
        <h1>Event details</h1>
        Your information: Name: <span th:text="${signup.name}">NamePlaceholder</span>,
        Address: <span th:text="${signup.address}">AddressPlaceholder</span>,
        Id: <span th:text="${signup.id}">id</span>

        <p>More details to follow</p>
    </div>

    </body>
</html>
