<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Participant administration</title>
    </head>
    <body>

    <div>
        <table style="border: 1px solid darkblue;">
            <!--/*@thymesVar id="ppl" type="java.util.List<sec.project.domain.Signup>"*/-->
            <tr>
                <td style="border: 1px solid darkgreen;" th:utext="${s.id}">Id placeholder</td>
                <td style="border: 1px solid darkgreen;" th:utext="${s.name}">Name placeholder</td>
                <td style="border: 1px solid darkgreen;" th:utext="${s.address}">Address placeholder</td>
            </tr>
        </table>
    </div>
    </body>
</html>
