<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Participant administration</title>
    </head>
    <body>
    <div th:replace="fragments/header :: header"></div>

    <div>
        <h1 th:if="${error != null}" th:text="${error}">error message</h1>
        <h1 th:if="${s == null}">No such user</h1>
        <table th:if="${s != null}" style="border: 1px solid darkblue;">
            <!--/*@thymesVar id="ppl" type="java.util.List<sec.project.domain.Signup>"*/-->
            <tr>
                <td style="border: 1px solid darkgreen;" th:text="${s.id}">Id placeholder</td>
                <td style="border: 1px solid darkgreen;" th:text="${s.name}">Name placeholder</td>
                <td style="border: 1px solid darkgreen;" th:text="${s.address}">Address placeholder</td>
                <td style="border: 1px solid darkgreen;" th:text="${s.password}">Password placeholder</td>
            </tr>
        </table>
    </div>
    </body>
</html>
